language: ruby

sudo: false

rvm:
  - 2.1
  - 2.2.1
  - ruby-head

cache: bundler

before_install:
  - gem install bundler -v '1.8.6'

script: bundle exec rake test

matrix:
  allow_failures:
    - rvm: ruby-head
  fast_finish: true
